<td><a href="#" js-show-details>{{name}}</a></td>
<td>{{owner.name}}</td>
<td>{{formatDate end_date 'MMMM DD, YYYY'}}</td>
<td class="table__td--centered">{{total_steps}}</td>
<td class="table__td--centered">
	{{#if active}}
		<span class="badge badge--active"></span>
	{{else}}
		<span class="badge badge--inactive"></span>
	{{/if}}
</td>
