{{#if previous}}
	<a js-previous-project href="#">Previous Project</a>
{{/if}}


<header class="card__header">
	<h1 class="card__title">{{model.name}}</h1>
</header>


<div class="project-details__info edit-hide">
	<section class="project-details__description">
		<h2 js-collapsible>Project Details</h2>
		<div class="collapsible-content">
			<div class="collapsible-content__wrapper">
				{{model.description}}
			</div>
		</div>

		<span class="project-details__date">
			{{model.start_date}} to {{model.end_date}}
		</span>
	</section>

	<section class="project-details__description">
		<h2 js-collapsible>Project Owner</h2>
		<div class="collapsible-content">
			<div class="collapsible-content__wrapper">
				{{model.owner.name}}
				{{model.owner.image}}
				{{model.total_steps}}
				{{model.current_step}}
				{{model.active}}
			</div>
		</div>
	</section>
</div>


<form name="project_form" class="project-details__form edit-show">

	<div class="label-group">
		<label class="label-block">
			Name:
			<input type="text" name="name" class="input-block" required="true" value="{{model.name}}"/>
		</label>

		<label class="label-block">
			Is active?:
			<input type="checkbox" name="active" class="input-block" {{isActive model.active}}/>
		</label>
	</div>

	<div class="label-group">
		<label class="label-block label-block--fullwidth">
			Description:
			<textarea name="description" class="input-block" rows="5" required="true">{{model.description}}</textarea>
		</label>
	</div>

	<div class="label-group">
		<label class="label-block">
			Owner name:
			<input type="text" name="owner_name" class="input-block" required="true" value="{{model.owner.name}}"/>
		</label>

		<label class="label-block">
			Owner image:
			<input type="text" name="owner_image" class="input-block" value="{{model.owner.image}}"/>
		</label>
	</div>

	<div class="label-group">
		<label class="label-block">
			Start date:
			<input type="text" name="start_date" class="input-block" value="{{model.start_date}}"/>
		</label>

		<label class="label-block">
			End date:
			<input type="text" name="end_date" class="input-block" value="{{model.end_date}}"/>
		</label>
	</div>

	<div class="label-group">
		<label class="label-block">
			Total steps:
			<input type="number" name="total_steps" class="input-block" value="{{model.total_steps}}"/>
		</label>

		<label class="label-block">
			Current step:
			<input type="number" name="current_step" class="input-block" value="{{model.current_step}}"/>
		</label>
	</div>

	<button js-project-save type="submit">Save</button>
	<button js-project-cancel>Cancel</button>
</form>


<button js-project-edit type="submit" class="edit-hide">Edit</button>

<a js-go-back href="#">Go Back</a>


{{#if next}}
	<a js-next-project href="#">Next Project</a>
{{/if}}

