{{#if previous}}
	<a js-previous-project href="#">Previous Project</a>
{{/if}}

<div class="project-details">
	{{name}}
	{{description}}
	{{owner.name}}
	{{owner.image}}
	{{start_date}}
	{{end_date}}
	{{total_steps}}
	{{current_step}}
	{{active}}
</div>



<form name="project_form" class="project-editing">
	<input type="text" name="name" value="{{model.name}}"/>
	<textarea name="description">{{model.description}}</textarea>
	<input type="text" name="owner_name" value="{{model.owner.name}}"/>
	<input type="text" name="owner_image" value="{{model.owner.image}}"/>
	<input type="text" name="start_date" value="{{model.start_date}}"/>
	<input type="text" name="end_date" value="{{model.end_date}}"/>
	<input type="number" name="total_steps" value="{{model.total_steps}}"/>
	<input type="number" name="current_step" value="{{model.current_step}}"/>
	<input type="checkbox" name="active" value="{{model.active}}"/>
	<button js-project-save type="submit">Save</button>
	<button js-project-cancel type="submit">Cancel</button>
</form>

<button js-project-edit type="submit">Edit</button>
<a js-go-back href="#">Go Back</a>

{{#if next}}
	<a js-next-project href="#">Next Project</a>
{{/if}}

