<a js-previous-project href="#">Previous Project</a>

{{name}}
{{description}}
{{owner.name}}
{{start_date}}
{{end_date}}

<a js-go-back href="#">Go Back</a>

<a js-next-project href="#">Next Project</a>
