{{#if previous}}
	<a js-previous-project href="#">Previous Project</a>
{{/if}}


<header class="card__header">
	<h1 class="card__title">{{model.name}}</h1>
</header>


<div class="project-details__info">
	<section class="project-details__description">
		<h2 js-collapsible>Project Details</h2>
		<div class="collapsible-content">
			<div class="collapsible-content__wrapper">
				{{model.description}}
			</div>
		</div>

		<span class="project-details__date">
			{{model.start_date}} to {{model.end_date}}
		</span>
	</section>

	<section class="project-details__description">
		<h2 js-collapsible>Project Owner</h2>
		<div class="collapsible-content">
			<div class="collapsible-content__wrapper">
				{{model.owner.name}}
				{{model.owner.image}}
				{{model.total_steps}}
				{{model.current_step}}
				{{model.active}}
			</div>
		</div>
	</section>
</div>


<form name="project_form" class="project-details__form">
	<input type="text" name="name" value="{{model.name}}"/>
	<textarea name="description">{{model.description}}</textarea>
	<input type="text" name="owner_name" value="{{model.owner.name}}"/>
	<input type="text" name="owner_image" value="{{model.owner.image}}"/>
	<input type="text" name="start_date" value="{{model.start_date}}"/>
	<input type="text" name="end_date" value="{{model.end_date}}"/>
	<input type="number" name="total_steps" value="{{model.total_steps}}"/>
	<input type="number" name="current_step" value="{{model.current_step}}"/>
	<input type="checkbox" name="active" {{isActive model.active}}/>
	<button js-project-save type="submit">Save</button>
	<button js-project-cancel>Cancel</button>
</form>


<button js-project-edit type="submit">Edit</button>

<a js-go-back href="#">Go Back</a>


{{#if next}}
	<a js-next-project href="#">Next Project</a>
{{/if}}

