
<header class="card__header">
	<h1 class="card__title card__title--small">Projects Index</h1>
	<div class="card-controls card-controls--center">
		<div class="btn-group">
			<input type="radio" id="filter-all" name="radio" js-filter-all {{isFilterActive filter "all"}}/>
			<label for="filter-all" class="btn">View Al</label>

			<input type="radio" id="filter-active" name="radio" js-filter-active {{isFilterActive filter "active"}}/>
			<label for="filter-active" class="btn">Active</label>

			<input type="radio" id="filter-inactive" name="radio" js-filter-inactive {{isFilterActive filter "inactive"}}/>
			<label for="filter-inactive" class="btn">Inactive</label>
		</div>
	</div>

	<ul class="card-controls card-controls--right">
		<li><a href="#" js-project-new class="btn btn--secondary">New Project</a></li>
	</ul>
</header>

{{#each projects}}
<h3>By {{name}}</h3>
<div class="body">{{description}}</div>
{{/each}}

<table class="table table--full-width" id="projects-list">
	<thead class="table__header">
		<th js-sort data-sort="name">Project Name</th>
		<th js-sort data-sort="owner">Owner:</th>
		<th js-sort data-sort="end_date">Due:</th>
		<th js-sort data-sort="total_steps">Steps</th>
		<th js-sort data-sort="active">Active:</th>
	</thead>
	<tbody class="table__body">

	</tbody>
</table>
